h1 {
	font-size: 50px;
	font-weight: bold;
	margin: 50px 0;
}

body {
	margin: 0px;
	height: 1000px;
}

header {
	padding: 0 40px;
	-webkit-box-shadow: 2px 9px 14px -1px rgba(0,0,0,0.78); 
	box-shadow: 2px 9px 14px -1px rgba(0,0,0,0.78);
	position: fixed;
	width: 100%;
	top: 0;
	background-color: white;
}

header .header-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	max-width: 1200px;
	height: 50px;
	align-items: center;
}
